<% if !user_signed_in? %>
  <%= link_to 'Sign up', new_user_registration_path, class: 'nav-item nav-link' %>
  <%= link_to "Sign in", new_user_session_path, class: 'nav-item nav-link' %>
  <h1>Home page if not signed in</h1>
  <h2>User Name</h2>
  <p>@Chitter_handle</p>
  <h4>Chitter Message that was posted</h4>
<% else %>
  <h1><%="Hello, #{current_user.name}"%></h1>
  <%= link_to "Log out", destroy_user_session_path, method: :delete %>
  <%= link_to "Create New Message", new_message_path, method: :delete %>
  <h1>Home page if not signed in</h1>
  <h2>User Name</h2>
  <p>@Chitter_handle</p>
  <h4>Chitter Message that was posted</h4>
<% end %>
