<div class="container">
	<% if !user_signed_in? %>
		<div class="container">
			<h1>Home page if not signed in</h1>
			<%= link_to 'Sign up', new_user_registration_path, class: 'nav-item nav-link' %> |
			<%= link_to "Sign in", new_user_session_path, class: 'nav-item nav-link' %>
			<hr style="border: none; border-bottom: 1px solid black;">
			<% @posts.each do |post| %>
				<h4><%= User.find(post.user_id).username %> -<span class="post-time"> Created <%= time_ago_in_words(post.created_at) %> ago</span> </h4>
				<h6><%= User.find(post.user_id).handle %></h6>
				<p><%= post.content %></p>
				<%= link_to 'Show comments', post_path(post.id)%><br>
			<br>
			<% end %>
		</div>
	<% else %>
	  <script>document.location = "/home" </script>‘
	<% end %>
</div>
