<div class="container">
  <% if !user_signed_in? %>
    <h2><%= @post.content %></h2>
    <%= link_to 'Back', :back %>
    <hr style="border: none; border-bottom: 1px solid black;">
     <div id='comments'>
      <% @post.comments.each do |comment|%>
      <div class='comment'>
        <h4><%= User.find(comment.user_id).username %> -<span class="post-time"> Created <%= time_ago_in_words(comment.created_at) %> ago</span> </h4>
        <p><%= comment.body %></p><hr>
      </div>
      <% end %>
    </div>
  <% else %>
    <h2><%= @post.content %></h2>
    <%= link_to 'Add comment', new_post_comment_path(@post.id)%> |
    <%= link_to 'Back', :back %>
    <hr style="border: none; border-bottom: 1px solid black;">
     <div id='comments'>
      <% @post.comments.each do |comment|%>
      <div class='comment'>
        <h4><%= User.find(comment.user_id).username %> -<span class="post-time"> Created <%= time_ago_in_words(comment.created_at) %> ago</span> </h4>
        <p><%= comment.body %></p>
        <%= link_to 'Delete', post_comment_path(@post, comment), method: :delete %> |
        <%= link_to 'Reply', new_post_comment_reply_path(@post.id, comment.id)%>
        <div class="container" id='reply'>
          <% comment.replies.each do |reply| %>
          <div class="reply">
            <h6><%= User.find(comment.user_id).username %> - <span class="post-time"> Created <%= time_ago_in_words(reply.created_at) %> ago</span></h6>
            <p><small><%= reply.body %></small></p>
          </div>
          <% end %>
        </div><hr>
      </div>
      <% end %>
    </div>
  <% end %>
</div>
